/web/bundles/
/app/bootstrap.php.cache
/app/check.php
/app/SymfonyRequirements.php
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/web/config.php
/bin/
/composer.phar
/nbproject/
/Commande.txt
app/config/parameters.yml
composer.lock