<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Cinestation{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '../app/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div id="header">
            </div>
            <div id="content">
                {% block body %}{% endblock %}
            </div>
            <div id="footer">
            </div>
        {% block javascripts %}
            <script src="{{ asset("bootstrap-3.3.2/dist/js/bootstrap.min.js") }}"></script>
        {% endblock %}
    </body>
</html>
